<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corping"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".main.ParseApplication"
        android:icon="@drawable/icon"
        android:label="Tip!nBoard" >
        <activity
            android:name=".main.ProjectActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity_GetStarted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity_GetStarted_Verified"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.MainActivity_Signin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taskboard.TaskboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taskboard.TaskList_Sorted_By_Member"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taskboard.TaskList_Sorted_By_Category"
            android:screenOrientation="portrait" />
        <activity
            android:name=".taskboard.VideoPlayActivity"
            android:screenOrientation="portrait" />
        
        
        <activity
            android:name=".dashboard.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dashboard.VoicePlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.ManualActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.ManualActivity_Timeline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.MediaActivity_Post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.MediaActivity_Timeline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.VideoRecorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manual.AudioRecorderActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mypage.MypageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".create.CreateTaskboardActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".main.MainActivity_Broadcast_SMS" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- <activity android:name=".media.MediaActivity_Post" /> -->
        <!-- <activity android:name=".media.MediaActivity" /> -->
        <!-- <activity android:name=".media.ChecklistActivity" /> -->
        <!-- <activity android:name=".media.AudioRecorderActivity" /> -->
        <!-- <activity android:name=".media.MediaActivity_Timeline" /> -->
        <!-- <activity android:name=".media.AudioRecorderActivity2" /> -->
        <!-- <activity android:name=".media.VideoRecorderActivity" /> -->
    </application>

</manifest>